header {
  background-color: gray;
  font-size: 15px;
}

body {
  font-size: 20 px;
  width: 960px;
  height: 200px;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

body div {
  font-size: 50 px;
  background-color: pink;
}

body h1 {
  background-color: rgba(56, 194, 114, 0.973);
  padding: 40px;
  color: green;
  font-size: 61px;
  margin: 0px 10px 12px 23px;
  padding: 5px 6px 7px 8px;
}

address {
  display: inline-block;
}
