@import "_null.scss";
@import "_header.scss";
body{
	font-size: 20 px;
	width: 960px;
	height: 220px;
	text-align: center; 

	div{
		font-size: 55 px;
		background-color: pink;
	}
	
	h1{
		background-color: rgba(56, 194, 114, 0.973);
		padding: 40px;
		color: green;
		font-size: 61px;
		padding: 5px 6px 17px 18px; 
	}
}
address {
	display: inline-block;
}